<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>CV</h3>
      <h1>mathéo</h1>
      <h2>VOILA MOI</h2>
      <%= image_tag("trot.jpg", :alt => "rss feed") %>
      <i class="fa fa-camera-retro"></i>
    </div>
  </div>
</div>
